@import "tailwindcss";

/**
 * default to dark mode
 */
:root {
  --background: #212527;
  --foreground: #f1efdd;
}

/**
 * dark mode color preferences
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #212527;
    --foreground: #f1efdd;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #4d9de0b3;
  pointer-events: none;
  z-index: 0;
}

@theme {
  /**
   * breakpoints
  */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /**
   * colors
  */
  --color-primary: #4d9de0;
  --color-secondary: #99999995;
  --color-tint: #ecffe7;
  --color-black: #212527;
  --color-white: #f1efdd;
  --color-dark-white: #f1efdd85;
  --color-green: #74f071;
  --color-red: #f07174;
  --color-dark-gray: #25292b;
  --color-gray: #2c2f31;
  --color-light-gray: #f1efdd12;

  /**
   * shadows
  */
  --shadow-default: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  --inset-shadow-default: 0px 10px 20px 0px rgba (0, 0, 0, 0.2);

  /**
   * text sizes
  */
  --text-1\.5xl: 1.375rem;
  /**
   * animations
  */
  --animate-blink: blink 1.4s steps(1, end) infinite;
  --animate-bounce: bounce 1s infinite ease-out;
  --animate-spin: spin 0.4s linear infinite;

  @keyframes blink {
    0%,
    100% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      visibility: visible;
    }
    50% {
      transform: translateY(5px);
      visibility: hidden;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-inter);
  --font-serif: Georgia, serif;
  --font-sans: var(--font-inria-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

@layer utilities {
  /**
  * hide scrollbar
  */
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .input-base {
    @apply bg-light-gray shadow-inner focus-within:ring-2 ring-primary/80 rounded-sm duration-200;
  }
}

/**
 * milkdown custom theme
*/
.milkdown {
  --crepe-color-on-background: #f1efdd;
  --crepe-color-surface: #121212;
  --crepe-color-surface-low: #1c1c1c;
  --crepe-color-on-surface: #f1efdd;
  --crepe-color-on-surface-variant: #a9a9a9;
  --crepe-color-outline: #e5e5e5;
  --crepe-color-primary: #86efac;
  --crepe-color-secondary: #4d4d4d;
  --crepe-color-on-secondary: #d6d6d6;
  --crepe-color-inverse: #e5e5e5;
  --crepe-color-on-inverse: #2a2a2a;
  --crepe-color-inline-code: #ff6666;
  --crepe-color-error: #ff6666;
  --crepe-color-hover: #232323;
  --crepe-color-selected: #99999995;
  --crepe-color-inline-area: #2b2b2b;

  --crepe-font-title: "Inter", Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: Georgia, Arial, Helvetica, sans-serif;
  --crepe-font-code: "Space Mono", Fira Code, Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 2px 0px rgba(255, 255, 255, 0.3), 0px 1px 3px 1px rgba(255, 255, 255, 0.15);
  --crepe-shadow-2: 0px 1px 2px 0px rgba(255, 255, 255, 0.3), 0px 2px 6px 2px rgba(255, 255, 255, 0.15);
}
.milkdown .editor .milkdown-code-block {
  border-radius: 0.25rem;
}
.milkdown .editor .milkdown-code-block .tools .tools-button-group .copy-button {
  border-radius: 0.25rem;
}
.milkdown .editor .milkdown-code-block .tools .tools-button-group .preview-toggle-button {
  border-radius: 0.25rem;
}
.milkdown .editor .milkdown-image-block .image-edit {
  border-radius: 0.25rem;
}

.milkdown .ProseMirror {
  margin: 0rem;
  padding: 0 !important;
}

.milkdown .ProseMirror .crepe-placeholder {
  font-weight: 600;
}

.milkdown .ProseMirror h1 {
  font-weight: 600 !important;
}

.milkdown .ProseMirror p {
  font-size: smaller !important;
}

/**
 * css reset
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
