@import 'tailwindcss';

/**
 * default to dark mode
 */
:root {
  --background: #212527;
  --foreground: #f1efdd;
}

/**
 * dark mode color preferences
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #212527;
    --foreground: #f1efdd;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(193, 113, 52, 0.4);
  pointer-events: none;
  z-index: 0;
}

@theme {
  /**
   * breakpoints
  */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /**
   * colors
  */
  --color-primary: #c17134;
  --color-black: #212527;
  --color-light-black: #25292b;
  --color-white: #f1efdd;
  --color-green: #74f071;
  --color-red: #f07174;

  /**
   * shadows
  */
  --shadow-primary: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  --inset-shadow-primary: 0px 10px 20px 0px rgba (0, 0, 0, 0.2);

  /**
   * animations
  */
  --animate-blink: blink 1.4s steps(1, end) infinite;
  --animate-bounce: bounce 0.9s infinite ease-out;

  @keyframes blink {
    0%,
    100% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      visibility: visible;
    }
    50% {
      transform: translateY(5px);
      visibility: hidden;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-pt-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

/**
 * css reset
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
